body{
    display: flex;
    flex-direction: column;
}

header{
    border: 1px solid black;

}

nav{
    border: 1px solid black;

}

.wrapper-main-aside{
    display: flex;
    flex-direction: row;
}

main{
    border: 1px solid black;
    flex: 3;

    width: 100%;
    display: flex;
flex-flow: row wrap;
justify-content:space-between;

}

aside{
    border: 1px solid black;

    flex: 1;
}

footer{
    border: 1px solid black;

}


main>article {
    margin: 20px; 
     /* padding: 40px ; */
     /* width: 30%; */
    border: 1px solid black;
   flex: 3 0 30%;
}



/* ------------------ MENU ------------------- */
nav{
    width: 100%;
    text-align: center;
}
nav>ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav>ul>li{
    display: inline-block;
    border: 1px solid black;
    margin: 15px 50px;
}
nav>ul>li>a{
    text-decoration: none;
}
nav>ul>li>a>span{
    padding: 2vh 3vw;
    display: inline-block;
    color: black;
}
nav>ul>li>a>span:hover{
    color: white;
    background-color: #FF5722;
}
/* ------------------- FIN MENU ------------------- */



/* -------------- FOOTER ------------------ */
footer{
    grid-area: footer;
    border: 1px solid black;
}
footer>h2{
    text-align: center;
}
.columnasFooter{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.izquierda{
    font-size: 2.5em;
}
.derecha>ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    text-align: center;
}
.derecha>ul>li{
    display: inline-block;
    margin: 15px 30px;
}
.derecha>ul>li>a{
    text-decoration: none;
}
.icono{
    font-size: 3em;
    margin-bottom: 10px;
}
.derecha>ul>li>span{
    display: block;
}
/* ------------- FIN FOOTER ------------------- */