body{
    
    display: inline-block;
    padding: 0px;
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
}

header{
    /* display: block; */
    width: 100%;
    background-color: azure;
    min-height: 15vh;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
header>h1{
    /* padding: 0px; */
    margin: 0px;
    font-size: 7em;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;



}

nav{
    /* display: block; */
    width: 100%;
    background-color: darkolivegreen;
    text-align: center;
}

nav>ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
}

nav>ul>li{
    display: inline-block;
    border: 1px solid black;
    margin: 15px 50px;
}

nav>ul>li>a{
    text-decoration: none;
}


nav>ul>li>a>span{
    padding: 2vh 3vw;
    display: inline-block;
    /* background-color: #1976D2; */
    color: white;
}

nav>ul>li>a>span:hover{
    background-color: #FF5722;
}

main{
    display: inline-block;
    background-color: chocolate;

    /* width: 70%; */
    width: 69vw;

    
    min-height: 60vh;
    border: 1px solid black;
}

aside{
    display: inline-block;
    background-color: blueviolet;
    /* width: 29%; */

    width: 29vw;


    min-height: 60vh;

    vertical-align: top;
    border: 1px solid black;
}

footer{
    background-color: darkgrey;
    display: block;
}


