body{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas: 
      "header header header header"
      "nav nav nav nav"
      "main main main aside"
      "footer footer footer footer";
    }

header{
    background-color: aqua;
    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

nav{
    background-color: goldenrod;
    grid-area: nav;
}

main{
    background-color: yellow;
    grid-area: main;
}

aside{
    background-color: chartreuse;
    grid-area: aside;
}


/* ----------------- Diseño artículo ----------------- */

article{
    border: 1px solid black;
    margin: 10px;
    padding: 10px 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto auto 5vh;
    grid-template-areas: 
      "titulo titulo titulo titulo"
      "imagen contenido contenido contenido"
      "imagen contenido contenido contenido"
      "a a a leerMas";
    /* display: flex; */
}

article>h2{
    grid-area: titulo;
}

.contenido{
    grid-area: contenido;
    margin-left: 15px;
    text-align: justify;
}

article>img{
    grid-area: imagen;
    width: 100%;
}

.leer-mas{
    text-align: right;
    grid-area: leerMas;
}
.leer-mas>a{
    color: #fff;
    background-color: #710000;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.leer-mas>a:hover{
    background-color: #d10000;
}
/* ----------------- FIN Diseño artículo ----------------- */



/* --------------- Diseño Menú ---------------*/
nav>ul{
    list-style: none;
    text-decoration: none;
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    text-decoration: none;
}


nav>ul>li>a>span{
    padding: 2vh 4vw;
    display: inline-block;
    border-radius: 8px;
    background-color: #1976D2;
    color: white;
}

nav>ul>li>a>span:hover{
    background-color: #FF5722;
}

/* --------------- Fin Diseño Menú ---------------*/


/*--------------- Diseño aside ---------------*/
aside>section{
    border-bottom: 1px solid black;
}

/*--------------- Fin Diseño aside ---------------*/












/* ------------------ Diseño Footer ---------------- */

footer{
    background-color: hotpink;
    grid-area: footer;
    display: flex;
}

footer>section{
    text-align: center;
    width: 100%;
    padding: 15px;
}

.foto-perfil{
    width: 8vw;
    border-radius:160px;
    border:2px solid #666;
}


.redesSociales>a{
font-size: 3em;
margin: 10px;
color: #fff;
}


/* ---------------- Fin diseño footer ------------------- */

