/* Sombras material design https://codepen.io/sdthornton/pen/wBZdXq */

/* Colores principales */
:root {
    --color-principal: #179bd7;
    --color-secundario: #253b80;
  }

body{
    font-family: 'Roboto', sans-serif;

    margin: 0;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas: 
      "header header header header"
      "nav nav nav nav"
      "main main main aside"
      "footer footer footer footer";
    }

header{
    /* background-color: aqua; */
    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

nav{
    /* background-color: goldenrod; */
    grid-area: nav;
}

main{
    /* background-color: yellow; */
    grid-area: main;
}

aside{
    /* background-color: chartreuse; */
    grid-area: aside;
}


/* ----------------- Diseño artículo ----------------- */

article{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 10px 30px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto auto 5vh;
    grid-template-areas: 
      "titulo titulo titulo titulo"
      "imagen contenido contenido contenido"
      "imagen contenido contenido contenido"
      "foo foo foo leerMas";
    background: rgb(250, 250, 250);
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


  

  article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

article>h2{
    grid-area: titulo;
}

.contenido{
    grid-area: contenido;
    margin-left: 15px;
    text-align: justify;
}

article>img{
    grid-area: imagen;
    width: 100%;
}

.leer-mas{
    text-align: right;
    grid-area: leerMas;
}
.leer-mas>a{
    color: var(--color-principal);
    background-color: #fff;
    padding: 10px;
    border: 1px solid var(--color-principal);
    border-radius: 15px;
    text-decoration: none;
}

/* .leer-mas>a:hover{
    background-color: var(--color-secundario);
} */
/* ----------------- FIN Diseño artículo ----------------- */



/* --------------- Diseño Menú ---------------*/
nav>ul{
    list-style: none;
    text-decoration: none;
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    text-decoration: none;
}


nav>ul>li>a>span{
    padding: 2vh 4vw;
    display: inline-block;
    border-radius: 8px;
    background-color: var(--color-principal);
    color: white;
}

nav>ul>li>a>span:hover{
    background-color: var(--color-secundario);
}

/* --------------- Fin Diseño Menú ---------------*/


/*--------------- Diseño aside ---------------*/
aside>section{
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

aside>section>ul{
    padding: 5px 30px;
}
aside>section>ul>li{
    /* text-decoration-style: none; */
    list-style: none;
    /* margin-left: 0px; */
    margin-top: 10px;
}

aside>section>ul>li>a{
    text-decoration: none;
    color: var(--color-principal);
    display: block;
}
aside>section>ul>li>a:hover{
    color: var(--color-secundario);
    transform: scale(1.05);
}

/*--------------- Fin Diseño aside ---------------*/












/* ------------------ Diseño Footer ---------------- */

footer{
    /* background-color: hotpink; */
    grid-area: footer;
    display: flex;
}

footer>section{
    text-align: center;
    width: 100%;
    padding: 15px;
}

.foto-perfil{
    width: 8vw;
    border-radius:160px;
    border:2px solid #666;
}


.redesSociales>a{
font-size: 3em;
margin: 10px;
color: var(--color-principal);
}

.redesSociales>a:hover{
    color: var(--color-secundario);
    }

/* ---------------- Fin diseño footer ------------------- */









