/* Colores principales */
:root {
    --color-principal: #179bd7;
    --color-secundario: #253b80;
}

body {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    min-height: 95vh;
}

/* ------------------- HEADER / MENU ----------------- */
header {
    background-color: var(--color-principal);
    display: flex;
    justify-content: space-between;
}

header>h1 {
    margin-left: 10px;
}

nav>ul {
    list-style: none;
    text-decoration: none;
    list-style: none;
    padding-left: 0;
    margin-right: 10px;
}

nav>ul>li {
    display: inline-block;
}

nav>ul>li>a {
    text-decoration: none;
}

nav>ul>li>a>span {
    padding: 2vh 4vw;
    display: inline-block;
    border-radius: 3px;
    background-color: #179bd7;
    color: white;
    transition: background-color 0.3s ease-out;

}

nav>ul>li>a>span:hover {
    background-color: #087aaf;
}

/* ------------------- FIN HEADER / MENU ----------------- */


@media (min-width: 200px) and (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    main>article {
        width: 75vw;
    }


}

@media (min-width: 768px) and (max-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    main>article {
        width: 35vw;
    }
}

@media (min-width: 1200px) {
    main {
        grid-template-columns: repeat(3,1fr);
    }

    main>article {
        width: 25vw;
    }

}


main {
    display: grid;
    /* align-items: center; */
    justify-items: center;
    /* width: 100%; */
    /* flex-flow: column; */
    /* justify-content: center; */

}



main>article {
    /* margin: auto; */

    /* border: 1px solid black; */
    /* margin: 10px; */
    /* margin: 15px; */

    padding: 10px 30px;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh auto 8vh;
    grid-template-areas:
        "titulo titulo iconos"
        "descripcion descripcion descripcion"
        "fecha . boton";
    background: rgb(250, 250, 250);
    border-radius: 2px;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.iconos{
    margin-left: 50px;
    text-align: right;
    grid-area: iconos;
    display: flex;
}
.iconos>a{
    margin:  auto;
    /* margin-left: 10px; */
    color: grey;
}

article:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

article>h2 {
    grid-area: titulo;
}

article>p {
    grid-area: descripcion;
}


.fecha{
    grid-area: fecha;
    display: flex;
    /* margin: 10px; */
    /* text-align: center; */
}


.md-chip {
    display: inline-block;
    background: #e0e0e0;
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;
    margin: auto;
    /* margin-top: 3.5vh; */
    /* vertical-align: middle; */
  }

.contenedorBoton {
    grid-area: boton;
    margin: 10px;
    text-align: right;
}



.boton {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: none;
    background: var(--color-principal);
    /* cursor: pointer; */
    border-radius: 3px;
    padding: 10px 6px;
    width: 80%;
    color: white;
    /* margin-left: 25px; */
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.boton:hover {
    /* transform: translateY(-3px); */
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}


.buttonFlotante {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: var(--color-principal);
    /* background-color: #0C9; */
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
}


.botonIconoFlotante{
    margin: auto;
}






